
<div class="container">
    <form novalidate
          (ngSubmit)="save()"
          [formGroup]="AppealForm">
        <div class="form-inline">
            <div class="col-50">

                <div class="row">
                    <!--FIRST ROW OF CONTENT-->
                    <div class="col-50">
                        <div class=" title">
                            <h2 class="city">City of San Antonio</h2>
                            <h2 class="E">Employee Performance Evaluation</h2>
                            <h3 class="dpp">Notification of Appeal Form</h3>

                        </div>
                        <h1 class=" f-par">
                            *The appeal is due to the Reviewing Officer within ten  City working days after an Employee has signed the annual review evaluation. Upon receipt of
                            written appeal, the Reviewing Officer will have ten  City working days to respond to the Employee. Should the Employee then disagree with the Reviewing Officer's
                            decision, the Employee may further appeal, in writing, within ten  City working days to the Department Director. The Department Director will also have ten City
                            working days to respond to the Employee. During the appeal process, the Director is free to consult with or obtain information from others as needed to make an appeal
                            decision. The Department Director's decision is final.
                        </h1>


                        <section>
                            <label class="FirstInfoBox">
                                To be completed by Employee Appealing an Overall Rating in an Annual Review
                            </label>
                        </section>




                        <div class="sameline">
                            <div class="form-group"
                                 [ngClass]="{'has-error': (basicForm.get('name')?.touched || basicForm.get('name')?.dirty) && !basicForm.get('name').valid }">
                                <label class="control-label"
                                       for="nameId">
                                    Employee Name
                                </label>
                                <input class="form-control"
                                       id="nameId"
                                       type="text"
                                       placeholder="Full Name (required)"
                                       formControlName="name" />
                                <span class="help-block" *ngIf="(basicForm.get('name')?.touched || basicForm.get('name')?.dirty) && basicForm.get('name').errors">
                                    <span *ngIf="basicForm.get('name').errors.required">
                                        Please enter your full name. <!--Error messages-->
                                    </span>
                                    <span *ngIf="basicForm.get('name').errors.minlength">
                                        Name must be longer than 3 characters. <!--Error messages-->
                                    </span>
                                </span>
                            </div>
                            <div class="form-group"
                                 [ngClass]="{'has-error': (basicForm.get('name')?.touched || basicForm.get('name')?.dirty) && !basicForm.get('name').valid }">
                                <label class="control-label"
                                       for="nameId">
                                    Employee SAP Number
                                </label>
                                <input class="form-control"
                                       id="nameId"
                                       type="text"
                                       placeholder="Full Name (required)"
                                       formControlName="name" />
                                <span class="help-block" *ngIf="(basicForm.get('name')?.touched || basicForm.get('name')?.dirty) && basicForm.get('name').errors">
                                    <span *ngIf="basicForm.get('name').errors.required">
                                        Please enter your full name. <!--Error messages-->
                                    </span>
                                    <span *ngIf="basicForm.get('name').errors.minlength">
                                        Name must be longer than 3 characters. <!--Error messages-->
                                    </span>
                                </span>
                            </div>
                            <div class="form-group"
                                 [ngClass]="{'has-error': (basicForm.get('name')?.touched || basicForm.get('name')?.dirty) && !basicForm.get('name').valid }">
                                <label class="control-label"
                                       for="nameId">
                                    Department
                                </label>
                                <input class="form-control"
                                       id="nameId"
                                       type="text"
                                       placeholder="Full Name (required)"
                                       formControlName="name" />
                                <span class="help-block" *ngIf="(basicForm.get('name')?.touched || basicForm.get('name')?.dirty) && basicForm.get('name').errors">
                                    <span *ngIf="basicForm.get('name').errors.required">
                                        Please enter your full name. <!--Error messages-->
                                    </span>
                                    <span *ngIf="basicForm.get('name').errors.minlength">
                                        Name must be longer than 3 characters. <!--Error messages-->
                                    </span>
                                </span>
                            </div>
                            <div class="form-group"
                                 [ngClass]="{'has-error': (basicForm.get('name')?.touched || basicForm.get('name')?.dirty) && !basicForm.get('name').valid }">
                                <label class="control-label"
                                       for="nameId">
                                    Rater's Name
                                </label>
                                <input class="form-control"
                                       id="nameId"
                                       type="text"
                                       placeholder="Full Name (required)"
                                       formControlName="name" />
                                <span class="help-block" *ngIf="(basicForm.get('name')?.touched || basicForm.get('name')?.dirty) && basicForm.get('name').errors">
                                    <span *ngIf="basicForm.get('name').errors.required">
                                        Please enter your full name. <!--Error messages-->
                                    </span>
                                    <span *ngIf="basicForm.get('name').errors.minlength">
                                        Name must be longer than 3 characters. <!--Error messages-->
                                    </span>
                                </span>
                            </div>
                            <div class="form-group"
                                 [ngClass]="{'has-error': (basicForm.get('name')?.touched || basicForm.get('name')?.dirty) && !basicForm.get('name').valid }">
                                <label class="control-label"
                                       for="nameId">
                                    Rater's SAP Number:
                                </label>
                                <input class="form-control"
                                       id="nameId"
                                       type="text"
                                       placeholder="Full Name (required)"
                                       formControlName="name" />
                                <span class="help-block" *ngIf="(basicForm.get('name')?.touched || basicForm.get('name')?.dirty) && basicForm.get('name').errors">
                                    <span *ngIf="basicForm.get('name').errors.required">
                                        Please enter your full name. <!--Error messages-->
                                    </span>
                                    <span *ngIf="basicForm.get('name').errors.minlength">
                                        Name must be longer than 3 characters. <!--Error messages-->
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>


                </div>
                <section>
                    <label class="FirstInfoBox">
                        Written Appeal
                    </label>
                    <section>
                        <label class="FirstInfoBox">
                            Instructions:
                            List in the space below the reason(s) for the appeal. List all points of disagreement
                        </label>
                    </section>


                </section>


            </div>

        </div>
        <div class=" row">
            <div class=" col-75">
                <div class="form-group"
                     [ngClass]="{'has-error': (basicForm.get('name')?.touched || basicForm.get('name')?.dirty) && !basicForm.get('name').valid }">

                    <textarea rows="20" cols="8" class="form-control"
                              id="nameId"
                              type="text"
                              placeholder="Full Name (required)"
                              formControlName="name" >

                    </textarea>
                    <span class="help-block" *ngIf="(basicForm.get('name')?.touched || basicForm.get('name')?.dirty) && basicForm.get('name').errors">
                        <span *ngIf="basicForm.get('name').errors.required">
                            Please enter your full name. <!--Error messages-->
                        </span>
                        <span *ngIf="basicForm.get('name').errors.minlength">
                            Name must be longer than 3 characters. <!--Error messages-->
                        </span>
                    </span>
                </div>
            </div>
        </div>
     
        
    </form>
</div>
