<div class="row">
    <div class="col-75">
        <div class="container">
            <h1 class="text-center">City of San Antonio</h1>
            <h2 class="text-center">Employee Performance Evaluation</h2>
            <h3 class="text-center pbot">Performance Pay Eligible</h3>
            <div class="row">
                <app-basic_info-form></app-basic_info-form>
                <div class="tcontent">
                    <!--RATING INSTRUCTIONS-->
                    <h4 style="font-weight: bold">Rating Descriptions</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>1 - Improvement Needed</th>
                                <th>2 - Achieves Expectations</th>
                                <th>3 - Exceeds Expectations</th>
                                <th>4 - Outstanding </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Does not meet the requirements of the job, task or project. Improvement is needed.</td>
                                <td>Successfully meets the requirements of the job, task or project. Performance consistently meets standards.</td>
                                <td>
                                    Exceeds the
                                    requirements of the job,
                                    task or project. Performance is
                                    characterized by consistent high
                                    achievement.
                                </td>
                                <td>
                                    Far exceeds the requirements of the
                                    job, task or project. Performance
                                    consistently shows outstanding
                                    achievement far above expectations.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--Section 1-->
                    <h4 style="font-weight: bold">Section I: Responsibilities, Goals, Measures <span style="font-weight: normal">(70% of overall rating; evaluation weight assigned)</span></h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="font-weight: bold">Responsiblities, Goals, Measures:
                                <span style="font-weight: normal">
                                    Each entry in this table contains 4 items: A description of the responsibility/goal that includes
                                    any specific performance metric or project deadline; a specific weight percentage component; a
                                    summary of the actual performance results; and the rating for this entry.
                                </span></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>