<div class="row">
    <div class="col-75">
        <div class="container">
            <h1 class="text-center">City of San Antonio</h1>
            <h2 class="text-center">Employee Performance Evaluation</h2>
            <h3 class="text-center pbot">Executive Level</h3>
            <div class="row">
                <app-basic_info-form></app-basic_info-form>
                <div class="tcontent">
                    <h4 style="font-weight: bold">Rating Descriptions</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>1 - Improvement Needed</th>
                                <th>2 - Achieves Expectations</th>
                                <th>3 - Exceeds Expectations</th>
                                <th>4 - Outstanding </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Does not meet the requirements of the job, task or project. Improvement is needed.</td>
                                <td>Successfully meets the requirements of the job, task or project. Performance consistently meets standards.</td>
                                <td>
                                    Exceeds the
                                    requirements of the job,
                                    task or project. Performance is
                                    characterized by consistent high
                                    achievement.
                                </td>
                                <td>
                                    Far exceeds the requirements of the
                                    job, task or project. Performance
                                    consistently shows outstanding
                                    achievement far above expectations.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h4 style="font-weight: bold">Section II: Responsibilities, Goals, Measures</h4>
                    <p>(50% of overall rating; evaluation weight assigned)</p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="5">
                                    Responsibilities, Goals, and Measures: Each entry in this table contains 4 items: A description of the responsibility/goal that includes
                                    any specific performance metric or project deadline; a specific weight percentage component; a summary of the actual performance
                                    results; and the rating for this entry.
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Entry: 1</td>
                                <td></td>
                                <td>Item Evaluation Weight Percentage (total of all weights=100%): </td>
                                <td>Rating: </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="5">Responibility/Goal: </td>
                            </tr>
                            <tr>
                                <td colspan="5">Summary of actual performance results: </td>
                            </tr>
                            <tr>
                                <td>Entry: 2</td>
                                <td></td>
                                <td>Item Evaluation Weight Percentage (total of all weights=100%): </td>
                                <td>Rating: </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="5">Responibility/Goal: </td>
                            </tr>
                            <tr>
                                <td colspan="5">Summary of actual performance results: </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
